<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="hu.bme.mit.sysml2autosar.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2023-06/"/>
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.14.0.v20221117-1134"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.28.0.v20230605-0440"/>
			<unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.3.v20221116-1811"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://build.incquerylabs.com/nexus/repository/artop-mirror/containers/artop-sdk-update-site-4.16"/>
			<unit id="org.artop.core.autosar215.sdk.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.autosar322.sdk.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.autosar451.sdk.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.converters.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.metamodel215.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.metamodel322.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.metamodel451.feature.group" version="0.0.0"/>
			<unit id="org.artop.core.metamodels.feature.group" version="0.0.0"/>
			<unit id="org.artop.validation322.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/viatra/updates/release/2.8.0/"/>
			<unit id="org.eclipse.viatra.query.sdk.feature.source.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/sphinx/updates/release/0.13.1/"/>
			<unit id="org.eclipse.sphinx.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sphinx.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sphinx.viatra.query.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sphinx.viatra.query.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/17/updates/release/17.0.8"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.minimal.feature.group" version="17.0.8.v20230801-1951"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201605260315"/>
			<unit id="org.eclipse.xtend.ui.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220531185310/repository"/>
			<!-- Rationale of the fixed version: artop needs the javax.activation bundle, but it is renamed to jakarta.activation since Java 9, so an older version is used instead (where the package name is still javax.activation) -->
			<unit id="javax.activation" version="1.2.2.v20201119-1642"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/mdt/papyrus/components/sysml16/releases/2.2.0_c/p2/"/>
			<unit id="org.eclipse.papyrus.sysml16" version="2.0.0.202301060915"/>
		</location>
	</locations>
</target>